{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static "assets/css/commonStyleSheet.css" %}" type="text/css"> </link>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>

<body>

<header>
<h1>Please Edit the following details to update homework</h1>
</header>

<section>
	<form action="/gradiance/course/{{ course }}/edit_homework/{{ homework }}/" method="post" > {% csrf_token %}
        <label> Homework Number : </label><input type="text" name="homeworkid" placeholder="Ex : CSC540_<hw number>" value="{{ homework }}"><br><br>
    	<label> Start Date : </label><input type="date" name="startdate" placeholder="Start Date" value = "{{ startdate }}"><br><br>
    	<label> End Date : </label><input type="date" name="enddate" placeholder="End Date" value = "{{ enddate }}"><br><br>
    	<label> Number of attempts : </label><input type="text" name="numberattempts" placeholder="Number of attempts" value = "{{ numretries }}"><br><br>
    	<label> Minimum Difficulty : </label>
        <select name="mindiff" id="mindiff" value = "{{ mindifficulty }}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select><br><br>
        <label> Maximum Difficulty : </label>
        <select name="maxdiff" id="maxdiff" value = "{{ maxdifficulty }}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select><br><br>
        <label> Correct Answer Points : </label><input type="text" name="correctpoints" placeholder="Correct answer Points" value = " {{ correctanswerpts }}"><br><br>
        <label> Wrong Answer Points : </label><input type="text" name="wrongpoints" placeholder="Wrong Answer Points" value = " {{ wronganswerpts }}"><br><br>
    	
		<input type="submit" name="update_homework" value="Update"><br><br>
  	</form>
  	<a href="/gradiance/course/get/{{ course }}/">Cancel</a>
</section>

</body>
</html>

